*.swp
.DS_Store
bin/configlet
bin/configlet.exe

**/npm-debug.log

# Purescript artifact directories
**/bower_components
**/node_modules/
**/.pulp-cache/
**/output
**/.psc*
**/.psa*
**/.spago
**/.purs*

.work
