language: bash

sudo: false

install:
  - nvm install 6
  - nvm use 6
  - npm install -g purescript@0.11.1 pulp@11.0.0 bower

script:
  - bin/fetch-configlet
  - bin/configlet lint .
  - bin/test.sh

cache:
  directories:
  - $HOME/.cache/bower/
  - $HOME/.exercise_cache/
