name: purescript / main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  precheck:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: |
          Run exercism/purescript ci pre-check (checks config, lint code) for
          all exercises
        run: scripts/ci-check

  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up PureScript toolchain
        uses: purescript-contrib/setup-purescript@2330ad9736aba56d65964a3335fe9368c9674db8
        with:
          purescript: "0.15.15"
          spago: "1.0.3"

      - name: Run exercism/purescript ci (runs tests) for all exercises
        run: scripts/ci
