name: purescript / main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  precheck:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: |
          Run exercism/purescript ci pre-check (checks config, lint code) for
          all exercises
        run: scripts/ci-check

  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Fetch the PureScript compiler
        uses: purescript-contrib/setup-purescript@2330ad9736aba56d65964a3335fe9368c9674db8
        with:
          psa: "0.9.0"
          purescript: "0.15.15"
          spago: "0.21.0"

      - name: Run exercism/purescript ci (runs tests) for all exercises
        run: scripts/ci
